body { 
  background: #323232;
  color: white;
  min-width: 320px;
  margin: 0;
}

body, input {
  font-family: 'Montserrat', sans-serif;
}

h1 { margin: 22px 0 0; line-height: 1em; font-size: 42px; text-align: center; }
label, input{ font-size: 20px; }

.timer {
  max-width: 400px;
  margin: 0 auto;
  padding: 0 20px;
}

.timer-upper {
  border: 1px solid #FFF;
  margin-bottom: 22px;
}

.timer-label { 
  border-right: 1px solid white;
  float: left;
  padding: 10px;
}

.timer-input { 
  width: 72%;
  float: left;
  background: none; 
  padding: 12px;
  border: none;
  margin: 0;

  color: white;
  font-size: 16px;

  &:focus {
    outline: none;
  }
}

.timer-lower {
  background: #FFF;
  text-align: center; 
}

.timer-submit {
  border: none;
  background: none;
  color: #323232;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 10px;

  &:focus {
    outline: none;
  }
}

.timer-output {
  font-size: 100px;
  text-align: center;
  margin: 44px 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  }

  *, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }